html,
body {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #f8f9fa;
}

section {
    flex: 1;
}

header h1 {
    font-weight: bold;
}

img {
    max-width: 100%;
}


.card-hover {
    transition: 0.4s;
}

.card-hover:hover {
    transform: translateY(-10px);
}

.banner {
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.overlay {
    background: rgba(0, 0, 0, 0.6);
    padding: 50px;
    border-radius: 20px;
}



.reto3-header {
    background: linear-gradient(135deg, #dc3545, #8b0000);
}

.titulo-seccion {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.descripcion-seccion {
    max-width: 800px;
    margin: auto;
    color: #555;
    font-size: 1.1rem;
}

.tarjeta-reto3 {
    border: none;
    border-radius: 15px;
    transition: 0.4s;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
}

.tarjeta-reto3:hover {
    transform: translateY(-10px);
}

.tarjeta-reto3 .card-body {
    padding: 30px 20px;
}

.tarjeta-reto3 h3 {
    font-weight: bold;
}

.lista-reto3 {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.lista-reto3 li {
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
    font-size: 0.95rem;
}

.tarjeta-reto3 .btn {
    padding: 12px;
    font-weight: bold;
}


.reto4-header {
    background: #ffc107;
    padding: 80px 20px;
}

.reto4-header h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.reto4-header p {
    font-size: 1.1rem;
    max-width: 700px;
    margin: auto;
}

.tarjeta-reto4 {
    border: none;
    border-radius: 15px;
    transition: 0.4s;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.tarjeta-reto4:hover {
    transform: translateY(-10px);
}

.tarjeta-reto4 .card-body {
    padding: 40px 25px;
}

.icono-reto4 {
    font-size: 4rem;
    color: #ffc107;
    margin-bottom: 20px;
}

.tarjeta-reto4 h3 {
    font-weight: bold;
    margin-bottom: 15px;
}

.tarjeta-reto4 p {
    color: #555;
    line-height: 1.7;
}


.banner-reto6 {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url('../imagenes/reto6.jpg');
        
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


    background-color: rgba(160, 103, 200, 0.613);

    background-blend-mode: darken;

    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.013);

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    color: white;
}

.contenido-banner-reto6 {

    padding: 30px;

    border-radius: 20px;

    background: rgba(0, 0, 0, 0.3);

    backdrop-filter: blur(3px);
}

.banner-reto6 h1 {

    font-size: 5rem;

    font-weight: bold;

    margin-bottom: 20px;
}

.banner-reto6 p {

    font-size: 1.5rem;

    margin-bottom: 30px;
}

@media(max-width:768px) {

    .banner-reto6 h1 {
        font-size: 3rem;
    }

    .banner-reto6 p {
        font-size: 1.1rem;
    }

}


.galeria-reto7 img{

    width: 100%;

    height: 250px;

    object-fit: cover;

    border-radius: 15px;

    transition: 0.5s;
}

.galeria-reto7 img:hover{

    transform: scale(1.08);

    filter: brightness(60%);
}

.galeria-reto7 .col-md-4{

    overflow: hidden;
}


@media(max-width:768px){

    .galeria-reto7 img{

        height: 180px;

        border-radius: 12px;
    }

    .galeria-reto7 .col-md-4{

        padding-left: 25px;

        padding-right: 25px;
    }

}


.hero-reto8 {
    height: 100vh;

    background-image: linear-gradient(rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)),
        url('../imagenes/reto8.jpg');

    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    color: white;
}

.contenido-reto8 {
    max-width: 800px;
    padding: 20px;
}

.contenido-reto8 h1 {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.contenido-reto8 p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

@media(max-width:768px) {

    .contenido-reto8 h1 {
        font-size: 2.5rem;
    }

}


.header-reto9{

    background: linear-gradient(135deg,#198754,#0d6efd);

    color: white;

    text-align: center;

    padding: 90px 20px;
}

.header-reto9 h1{

    font-size: 3rem;

    font-weight: bold;

    margin-bottom: 20px;
}

.header-reto9 p{

    font-size: 1.2rem;

    max-width: 700px;

    margin: auto;
}

.tarjeta-logo{

    background: white;

    border-radius: 20px;

    padding: 35px 25px;

    height: 100%;

    transition: 0.4s;

    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

.tarjeta-logo:hover{

    transform: translateY(-10px);

    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.tarjeta-logo img{

    width: 180px;

    height: 100px;

    object-fit: contain;

    margin-bottom: 25px;
}

.tarjeta-logo h4{

    color: #212529;

    font-weight: bold;

    margin-bottom: 15px;
}

.tarjeta-logo p{

    color: #555;

    font-size: 0.95rem;

    line-height: 1.6;
}

@media(max-width:768px){

    .header-reto9 h1{
        font-size: 2.2rem;
    }

    .tarjeta-logo img{
        width: 140px;
    }

}


.header-blog{

    background: linear-gradient(135deg,#212529,#0d6efd);

    color: white;

    text-align: center;

    padding: 90px 20px;
}

.header-blog h1{

    font-size: 3rem;

    font-weight: bold;

    margin-bottom: 20px;
}

.header-blog p{

    font-size: 1.2rem;

    max-width: 700px;

    margin: auto;
}


.blog-principal{

    background: white;

    border-radius: 20px;

    overflow: hidden;

    box-shadow: 0 5px 20px rgba(0,0,0,0.1);

    height: 100%;
}

.blog-principal img{

    width: 100%;

    height: 420px;

    object-fit: cover;
}

.blog-contenido{

    padding: 40px;
}

.blog-contenido h2{

    font-size: 2rem;

    font-weight: bold;

    margin-bottom: 20px;
}

.blog-contenido p{

    color: #555;

    line-height: 1.8;
}

/* BLOG SECUNDARIO */

.blog-secundario{

    background: #e9ecef;

    border-radius: 20px;

    overflow: hidden;

    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

.blog-secundario img{

    width: 100%;

    height: 220px;

    object-fit: cover;
}

.contenido-secundario{

    padding: 25px;
}

.contenido-secundario h4{

    font-weight: bold;

    margin-bottom: 15px;
}

.contenido-secundario p{

    color: #555;

    line-height: 1.7;
}


.blog-contenido .btn,
.contenido-secundario .btn{

    padding: 10px 20px;

    font-weight: bold;
}

footer {
    background: #212529;
    color: white;
    text-align: center;
    padding: 25px 15px;
    margin-top: auto;
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 1rem;
}


@media(max-width:768px){

    .header-blog h1{
        font-size: 2.2rem;
    }

    .blog-principal img{
        height: 280px;
    }

    .blog-contenido{
        padding: 25px;
    }

}


@media(max-width:768px) {

    .titulo-seccion {
        font-size: 2rem;
    }

    .reto4-header h1 {
        font-size: 2.2rem;
    }

    .icono-reto4 {
        font-size: 3rem;
    }

    .tarjeta-reto4 .card-body,
    .tarjeta-reto3 .card-body {
        padding: 30px 20px;
    }

}